nav {
  width: 30%;
  height: 100vh;
  padding: 30px;
  color: #aaa;
  box-sizing: border-box;
}
.menu-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: black;
}
hr {
  width: 35%;
  margin: 25px 0;
  color: rgb(255, 255, 229);
}
.menu-text-block {
  font-size: 14px;
  margin: 20px 0;
  line-height: 145%;
}

.menu {
  margin: 20px 0;
  padding: 0;
}

.menu > li {
  list-style-type: none;
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 12px;
  cursor: pointer;
  transition: 0.35s;
  font-weight: bold;
}

.menu > li:hover {
  color: black;
}

.menu > li.selected {
  color: black;
}

.media-icons {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  margin: 10px 0;
}

.media-icons > img {
  transition: 0.25s;
  cursor: pointer;
  opacity: 0.55;
}

.media-icons > img:hover {
  opacity: 1;
}
