* {
    margin: 0;
    padding: 0;
}

.page {
    margin-top: 100px;
    width: 60vw;
    margin-left: 20vw;
}

.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 2fr;
}

.grid-1,
.grid-2 {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-row-gap: 100px;
}

.grid-1 {
    grid-row-gap: 0px;
}

.grid-2 {
    margin-top: 100px;
}

.grid-1 > span > img,
.grid-2 > span > img  {
    height: 55vh;
    width: 25vw;
    object-fit: cover;
    border-radius: 12px;
    filter: drop-shadow(7px 7px 10px black);
    scale: 1;
    transition: 0.5s;
}

.grid-1 > span > img:hover,
.grid-2 > span > img:hover  {
    filter: brightness(1.15) drop-shadow(7px 7px 10px black);
}

.grid-1 > span > img:hover,
.grid-2 > span > img:hover  {
    border-radius: 12px;
    scale: 1.05;
    transition: 0.5s;
}

.sub-title {
    font-size: 35px;
    font-family: 'Nunito Sans';
    font-weight: bold;
    color: #2b2561;
}

.see-more {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-weight: bold;
    font-size: 25px;
    color: #ff9b9c;
    transition: 0.25s;
}

.see-more:hover {
    opacity: 0.6;
    transition: 0.25s;
}

