header {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  background-color: #574aff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

header > .menu {
  display: flex;
  list-style-type: none;
}

header li {
  height: 30px;
  font-size: 20px;
  width: 30%;
  margin: 0 10px;
  transition: 0.25s;
  box-sizing: border-box;
  font-family: serif;
  cursor: pointer;
  position: relative;
}

header li:hover {
  border-bottom: 2px solid grey;
}

header .submenu {
  display: none;
  position: absolute;
  background-color: #574aff;
  width: max-content;
  list-style-type: none;
}

header .submenu > li {
  width: fit-content;
}
