* {
    margin: 0;
    padding: 0;
}


.photo {
    margin-top: 150px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    height: 60vh;
    background-image: url('../../imgs/mars-surface.jpg');
    background-size: cover;
    background-position: center;
    filter: contrast(1.15);
    opacity: 0.98;
}


.helper {
    display: flex;
    justify-content: center;
}

.help-button {
    height: 60px;
    width: 130px;
    background-color: white;
    border: 0px;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 15x;
    transition: 0.25s;
    cursor: pointer;
}

.button-text {
    text-decoration: none;
    color: black;
}


.help-button:hover {
    background-color: #cccccc;
    transition: 0.25s;
}

.help-text {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    color: white;
    font-weight: bold;
    font-size: 100px;
    scale: 1;
    transition: 0.5s;
    filter: drop-shadow(2.5px 2.5px 3.5px black);
}

.help-text:hover {
    scale: 1.05;
    transition: 0.5s;
}

.help-text:hover ~ .telescope {
    scale: 1.05;
    transition: 0.5s;
}

.spin {
    padding-top: 125px;
}

.telescope {
    margin-right: 25px;
    width: 125px;
    height: 125px;
    scale: 1;
    transition: 0.5s;
}
