.card {
  margin-top: 50px;
  margin-bottom: 15px;
    background-color: white;
    border-radius: 10px;
    height: 30%;
    width: 80%;
    overflow: hidden;
    margin-left: 5%;
}

body {
  background-color: #f0f0f0;
  overflow-y: scroll;
  height: 100%;
}

.posts-button {
  text-decoration: none;
  background-color: black;
  opacity: 0.5;
  color: white;
  height: 23px;
  width: 90px;
  padding: 10px;
  padding-left: 20px;
  border-radius: 2.5px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 5%;
  transition: 0.25s;
}

.posts-button:hover {
  opacity: 0.85;
  transition: 0.25s;
}

.selected-tag {
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  height: 50px;
  font-weight: 400;
  opacity: 0.95;
  font-size: 35px;
  padding: 10px;
  width: 80%;
  overflow: hidden;
  margin-left: 5%;
}