.card {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  color: #aaa;
  margin: 15px 0;
}

.card > .card-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  transition: 0.225s;
}

.card > .card-image:hover {
  opacity: 0.8;
}

.card > .card-text {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.card .card-title {
  font-size: 36px;
  color: black;
}

.card .card-description {
  margin: 20px 0;
  font-size: 14px;
}

.card .card-meta {
  font-size: 14px;
}

.card .card-tag {
  cursor: pointer;
}
