/* https://neumorphism.io/#e0e0e0 */
.widget-weather {
  width: 600px;
  box-sizing: border-box;
  aspect-ratio: 1 / 0.8;
  border-radius: 57px;
  background: #212130;
  box-shadow: inset 28px -28px 56px #181824, inset -28px 28px 56px #2a2a3c;
  padding: 57px;
  color: whitesmoke;
}

.widget-weather > .ww-coord {
  width: 37.5%;
  display: grid;
  grid-template-columns: 70% 30%;
  letter-spacing: 5px;
}

.widget-weather > .ww-weather {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
