.card-content-header {
  font-size: 26px;
  color: black;
  box-sizing: border-box;
  margin: 10px 0;
}

.card-content-text {
  font-size: 20px;
  margin: 10px;
  color: rgb(74, 73, 73);
}

/* .card-content-list li {
  list-style-type: kannada;
} */

.padding-20 {
  padding: 20px;
  box-sizing: border-box;
}
