.page-1 {
    width: 100%;
    height: 20vh;
    background-color: #333333;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.page-1-container {
    height: 5.5vh;
    width: 100%;
    background-color: #232323;
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 66%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 3fr 3fr 1.75fr 4fr 8fr;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.nav-bar div {
    padding-top: 12.5px;
}

.nav-bar div:hover {
    color: #ff9900;
}

.page-1-container ul {
    z-index: 10;
    list-style: none;
    background-color: black;
    font-size: 12px;
    width: 165px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-1-container li {
    padding: 10px;
    cursor: pointer;
}

.active {
    color: #ff9900;
}

.page-1-container li:hover {
    background-color: #ff9900;
}

.pages-dropdown,
.elements-dropdown,
.portfolio-dropdown,
.gallery-dropdown {
    position: absolute;
}

.pages,
.elements,
.portfolio,
.gallery {
    position: relative;
}

#pages-dropdown {
    margin-top: 50px;
    margin-right: 875px;
    display: none;
}

.elements-dropdown {
    margin-top: 50px;
    margin-right: 730px;
    display: none;
}

.portfolio-dropdown {
    margin-top: 50px;
    margin-right: 535px;
    display: none;
}

.gallery-dropdown {
    margin-top: 50px;
    margin-right: 250px;
    display: none;
}

.drop-active {
    display: block;
}
