@font-face {
    font-family: 'Caviar-Dreams';
    src:url('../fonts/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.woff') format('woff'),
        url('../fonts/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.svg#Caviar-Dreams') format('svg'),
        url('../fonts/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.eot'),
        url('../fonts/webfonts_Caviar-Dreams/Caviar-Dreams.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.page-1 {
    width: 100%;
    height: 24.5vh;
    background-color: #333333;
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.page-1 .page-1-top {
    display: flex;
    justify-content: center;
}


.page-1-container {
    height: 5.5vh;
    width: 100%;
    background-color: #232323;
    display: flex;
    justify-content: center;
}

.nav-bar {
    width: 66%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 3fr 3fr 1.75fr 4fr 8fr;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.nav-bar div {
    padding-top: 12.5px;
}

.nav-bar div:hover {
    color: #ff9900;
}

.page-1-container ul {
    z-index: 10;
    list-style: none;
    background-color: black;
    font-size: 12px;
    width: 165px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-1-container li {
    padding: 10px;
    cursor: pointer;
}

.active {
    color: #ff9900;
}

.page-1-container li:hover {
    background-color: #ff9900;
}

#pages-dropdown:hover,
#elements-dropdown:hover,
#portfolio-dropdown:hover,
#gallery-dropdown:hover {
    display: block;
}

#pages-dropdown,
#elements-dropdown,
#portfolio-dropdown,
#gallery-dropdown {
    position: absolute;
}

.pages,
.elements,
.portfolio,
.gallery {
    position: relative;
}

#pages-dropdown {
    margin-top: 50px;
    margin-right: 875px;
}

#elements-dropdown {
    margin-top: 50px;
    margin-right: 730px;
}

#portfolio-dropdown {
    margin-top: 50px;
    margin-right: 535px;
}

#gallery-dropdown {
    margin-top: 50px;
    margin-right: 250px;
}

.drop-active {
    display: block;
}

.drop-unactive {
    display: none;
}

.page-1-top {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: center;
}

.header-title {
    font-size: 26px;
    font-family: 'Caviar-Dreams';
    font-weight: 900;
    color: #c0bab6;
}

.header-sub-title {
    font-size: 15px;
    font-family: 'Caviar-Dreams';
    color: #c0bab6;
}

.page-1-grid-1 {
    display: grid;
    grid-template-rows: 1.5fr 1fr 4fr;
    margin-top: 50px;
    margin-right: 666px;
}

.page-1-container-2 {
    display: flex;
    align-items: center;
    color: #c0bab6;
    font-size: 14px;
    margin-bottom: 35px;
}

.page-1-container-2 img {
    filter: invert(81%) sepia(13%) saturate(105%) hue-rotate(341deg) brightness(92%) contrast(87%);
    margin-left: 10px;
    margin-right: 4px;
    padding-top: 3px;
}

.callImage {
    height: 12px;
}

.mailImage {
    height: 16px;
}