.card {
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px;
}

.card > img {
  width: 100%;
}

.card > .likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card > div > button {
  width: 30%;
}
